.reviews-section {
    margin-top: 60px;
}

.client-title{
    font-size: 36px;
    font-weight: 600;
    color: #171B4E;
    text-align: center;
}

.client-title span{
    color: #7AB259;
}

.reviews{
    margin-top: 30px;
}


/* responsive mobile device */
@media only screen and (max-width: 576px) {
    .reviews{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* responsive tablet device */
@media only screen and (min-width:577px) and (max-width:992px) {
    .reviews{
        grid-template-columns: repeat(2, 1fr);
    }
}