.service {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.service:hover{
    border: 2px solid #7AB259;
    cursor: pointer;
    transition: 0.1s;
}

.service-image img {
    width: 74px;
}

.service-info h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    letter-spacing: 0.396px;
    color: #111430;
}

.service-info p {
    color: rgba(0, 0, 0, 0.7);
}