.navbar{
    background-color: #FBD062;
    border: none;
}

.logo{
    width: 150px;
    margin-top: 5px;
}

.login{
    background-color: #111430;
    border-radius: 5px;
    text-align: center;
    color: #ffffff !important;
    padding: 6px 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.navbar-menu a{
    color: #474747;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
}

#home{
    color: #474747;
    font-weight: 700;
    border-bottom: 3px solid #7AB259;
}

/* responsive mobile device */
@media only screen and (max-width: 576px) {
    .login{
        padding: 8px 30px !important;
        margin-bottom: 10px;
    }

    .navbar-menu a{
        text-align: center;
        margin-right: 0px;
    }

    #home{
        border-bottom: none;
    }
}