.footer {
    background-image: url('../../../assets/images/footer.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    padding-top: 80px;
    padding-bottom: 5px;
}

.footer-main-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.footer-first-part-info {
    margin-top: 20px;
}

.footer-first-part-info p {
    margin-bottom: 10px;
}

.footer-first-part-info span {
    margin-left: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
}

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

ul li {
    list-style: none;
    margin-bottom: 4px;
}

.footer-second-part ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
}

.footer-third-part p {
    font-size: 14px;
    font-weight: 500;
    color: #2D2D2D;
}

.company {
    margin-left: 30px;
}

.social-icon {
    margin-top: 30px;
}

.social-icon img {
    margin-right: 10px;
    width: 24px;
    cursor: pointer;
}


/* responsive mobile device */
@media only screen and (max-width: 576px) {
    .footer-main-part {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
    }

    .company {
        margin-left: 0px;
    }

    .social-icon {
        text-align: center;
    }

}