.service-title{
    font-size: 32px;
    font-weight: 500;
    color: #2D2D2D;
    text-align: center !important;
    margin-top: 80px;
    letter-spacing: 0.396px;
    font-family: "Roboto Condensed", sans-serif;
}

.service-title span{
    color: #7AB259;
}

.services {
    margin-top: 40px;
}


/* responsive mobile device */
@media only screen and (max-width: 576px) {
    .services{
        margin-top: 20px;
    }

    .service-title{
        margin-top: 0;
        font-size: 26px;
    }
}


/* responsive tablet device */
@media only screen and (min-width:577px) and (max-width:992px) {
    .service-title{
        margin-top: 20px;
    }
}