.banner-section {
    background-color: #FBD062;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 40px), 0 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% calc(100% - 100px), 0 100%, 0 100%, 0 0);
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 200px;
    padding: 90px 0px;
}

.banner-image img {
    width: 90%;
    margin: auto;
}

.banner-info {
    margin-top: 50px;
}

.banner-info h1 {
    color: #111430;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
    width: 90%;
}

.banner-info p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.005em;
    font-family: "Roboto Condensed", sans-serif;
}

.button {
    background-color: #111430;
    color: #ffffff;
    padding: 6px 40px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-family: "Roboto Condensed", sans-serif;
}

.icon {
    margin-left: 5px;
    font-size: 16px;
}


/* responsive mobile device */
@media only screen and (max-width: 576px) {
    .banner-section {
        height: 100%;
        -webkit-clip-path: polygon(100% 0, 100% calc(100% - 0px), 0 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% calc(100% - 0px), 0 100%, 0 100%, 0 0);
    }

    .banner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        padding: 40px 0px;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-info {
        margin-top: 20px;
        text-align: center;
    }

    .banner-info h1 {
        font-size: 32px;
        margin-bottom: 12px;
        width: 100%;
    }

    .banner-info p {
        margin-bottom: 12px;
    }

    .button {
        margin: auto;
    }

}


/* responsive tablet device */
@media only screen and (min-width:577px) and (max-width:992px) {
    .banner-section {
        background-color: #FBD062;
        width: 100%;
        height: 100%;
    }

    .banner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        padding: 40px 0px 80px 0px;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-info {
        margin-top: 20px;
    }

    .banner-info h1 {
        font-size: 34px;
        margin-bottom: 12px;
        width: 100%;
    }

    .banner-info p {
        margin-bottom: 12px;
    }
}